APP_NAME=DeskCraft API
APP_VERSION=0.1.0
ENVIRONMENT=development
DEBUG=false
API_V1_PREFIX=/api/v1
DATABASE_URL=postgresql+psycopg://deskcraft_app:replace_me@localhost:5432/deskcraft
JWT_SECRET_KEY=Your secret key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
AUTH_COOKIE_SECURE=false